/* --------------------------------------------------------Imported Fonts */

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* --------------------------------------------------------Reuseable Styles */

.boxed-heading-container {
    padding-bottom: 50px;
}

.boxed-heading {
    text-align: center;
    background-color: #fff;
    height: 100px;
    width: 300px;
    margin: auto auto;
}

.left {
    text-align: left;
}

.shaded-box-continer {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0,0,0,.15)
}

.red-line {
    color: rgb(254,87,57);
    border: 1px solid rgb(254,87,57);
    opacity: 1;
}

/* --------------------------------------------------------General */

.container-fluid {
    padding: 0;
}

h1 {
    Padding-top: 30px;
    padding-bottom: 20px;
}

.row {
    --bs-gutter-x: 0rem;
}

/* --------------------------------------------------------Font styles */

h1, h2, h3, h6 {
    font-family: "black ops one", serif;
}

/* ----------------------------------------------------------------------------Navigation Bar */

.navbar-spec {
    background-color: rgb(32, 42, 37);
}

.navbar-collapse a {
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 5px;
}

.nav-link {
    font-family: "jura", serif;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}

.navbar-collapse a:hover {
    color: black;
}

.custom-toggler {
    color: white;
    font-size: 35px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ----------------------------------------------------------------------------Top Pictures of pages */

.top-pic {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0;
}

.main-top-pic-container {
    position: relative;
    text-align: center;
}

.welcome-text {
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: #ffffff;
    font-size: 6rem;
    font-family: "black ops one", serif;
}

.course-top-pic {
    object-position: 50% 40%;
}

.comp-top-pic {
    object-position: 50% 25%;
}

/* ----------------------------------------------------------------------------About Section Landing Page */

.main-text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.main-text h1 {
    padding-bottom: 0px !important;
}

.main-text p {
    font-family: 'jura', serif;
}

.w-100 {
  height: 50vh;
  object-fit: cover;
}

.carousel-cont {
    width: 100%;
    margin: auto;
}

.carousel-control-next, .carousel-control-prev, .carousel-control-next:focus, 
.carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
    opacity: 0;
}

/* ----------------------------------------------------------------------------Who We Are Section Landing Page */

.who-we-are {
    padding: 50px 25px 50px 25px;
    background-color: rgb(89, 131, 129);
}

.team-heading {
    color: rgba(89, 131, 129, 1);
}

.card-trainer {
    margin: auto;
    border-radius: 5px;
    min-height: 80%;
    width: 80%;
}

.trainer-cont h2,
.trainer-cont p {
    text-align: center;
}

.trainer-cont p {
font-family: 'jura', serif;
}

.trainer-pic {
    display: block;
    height: 120px;
    width: 120px;
    padding: 15px;
    border-radius: 50%;
    margin: 0 auto;
    transition-duration: 350ms;
}

.trainer-pic:hover {
    height: 150px;
    width: 150px;
}

/* ----------------------------------------------------------------------------Prices Section Landing Page */

.price-heading {
    color: rgb(254,87,57);
}

.prices-div {
    background-color: rgb(254,87,57);
    padding-bottom: 60px;
    padding-top: 60px;
}

.prices-div h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.prices-div h2, 
.prices-div h1 {
    text-align: center;
    margin: 0;
}

.prices-div table {
    height: 75%;
    width: 80%;
    margin: 15px auto;
    padding: 0;
    font-family: "jura", serif;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
    border-bottom: 0px;
}

.card-price {
    height: 20rem;
    width: 20rem;
    margin: auto auto;
} 

/* ----------------------------------------------------------------------------Courses Page */

.courses-page {
    text-align: center;
    background-color: rgb(89, 131, 129);
    color: white;
    padding-bottom: 20px;
    font-family: "jura", serif;
}

.courses-page p {
    padding-left: 10px;
    padding-right: 10px;
}

.course-text {
    width: 80%;
    margin: 0 auto;
}

.course-main-text {
    margin: auto;
}

.course-heading {
    color: rgba(89, 131, 129, 1);
}

.course-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding-bottom: 40px;
    max-height: 400px;
}

.top-rope-pic {
    object-position: 50% 65%;
}

.course-price {
    font-size: 1.2em;
}

.course-btn {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    background-color: rgb(254,87,57);
}

.course-modal-content {
    color: black;
}

.course-modal-header, 
.course-modal-footer {
    border: 0px !important;
}

/* ----------------------------------------------------------------------------Competition Page */

.comp-main {
    background-color: rgb(89, 131, 129);
    color: white;
    font-family: 'jura', serif;
}

.comp-heading {
    color: rgb(89, 131, 129);
}

.about-comp {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.info-comp, .rules-comp {
    padding: 20px;
    margin-bottom: 30px;
    
}

.info-comp a {
    text-decoration: none;
    color: rgb(254,87,57);
}

.comp-dates {
    text-align: center;
    width: 80%;
    margin: auto auto;
}

.comp-dates h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.prev-comp {
    width: 70%;
    margin: auto;
}

.prev-comp-btn {
    padding-bottom: 20px;
}

.prev-comp-btn > .btn {
    background-color: rgb(254,87,57);
    border: 1px outset darkgrey;
    margin: 5px 20px;
    color: white;

}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(135,157,125,.25);
}

.comp-winners {
    text-align: center;
}

.comp-winners h2 {
    padding-top: 20px; 
    padding-bottom: 20px;
}

/* ----------------------------------------------------------------------------Contact Page */

.contact-page {
    background-color: rgb(89, 131, 129);
    margin: auto auto;
    font-family: 'jura', serif;
}

.contact-heading {
    color: rgb(89, 131, 129);
}

.form-container {
    background-color: rgb(254,87,57);
    width: 70%;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    border: 2px ridge white;
}

.contact-form-container {
    text-align: center;
}

.contact h2 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-btn {
    color: white;
    background-color: rgb(89, 131, 129);
}

#contact-form {
    width: 90%;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------Map */

.map-container {
    margin: auto auto 48px auto;
}

.gym-map {
    display: block;
    margin: auto auto;
}

/* ----------------------------------------------------------------------------Footer */

footer div {
    padding: 0;
    text-align: center; 
    font-family: "jura", serif;
}

footer i {
    font-size: 50px; 
    padding: 0px 15px;
    color: white;
    transition-duration: 500ms;
}

footer .facebook:hover {
    color: #3b5998;
}

footer .twitter:hover {
    color: 	#1DA1F2;
}

footer .instagram:hover {
    color: #E1306C;
}

footer a {
    text-decoration: none;
}

.social-links-footer {
    margin: auto;
    padding: 0;
}

.address-footer,
.opening-hours-footer {
    color: white;
    line-height: 1rem;
    margin-top: 15px;
}

.footer-cont {
    background-color: rgb(32, 42, 37);
}

/* ----------------------------------------------------------------------------Media Queries */

@media (max-width: 576px) {
    
    .nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: right;
    }

    .main-text {
    width: 100%;
    }

    .footer-cont {
    padding-bottom: 20px;
    }

    .card-price {
        font-size: 14px;
    }

    .welcome-text {
        line-height: 1;
    }

    .landing-red-line {
        width: 85%;
        margin: auto;
    }
}

@media (max-width: 830px) {
    
    .navbar-collapse a {
        font-size: 16px;
    }

    .main-text p {
    padding: 20px 5% 0px 5%;
    } 
      
}

@media (max-width: 992px) {

    .trainer-cont {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .price-tables {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .entry-fee {
        height: 10rem;
    }

    .card-price {
        width: 80%;
    }

    .form-container {
        width: 80%;
    }

    .course-text {
    width: 85%;
    }

    .about-comp {
    width: 85%;
    }

    .comp-dates {
    width: 85%;
    }

    .prev-comp {
    width: 85%;
    }

}
