@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* --------------------------------------------------------Special paddings/margins/text */

h1,
h2 {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

/* --------------------------------------------------------Colour */

.bgc-nav {
    background-color: #879d7d;
}

.bgc-footer {
    background-color: #879d7d;
}

.bgc-sec1 {
    background-color: #d0e4c7;
}

.bgc-sec2 {
    background-color: #a8c59b;
}


/* --------------------------------------------------------Logo */

.logo {
    height: 100px;
    width: 100px;
}

/* ----------------------------------------------------------------------------Navigation Bar */

.nav-bar {
    text-align: right;
    height: 100px;
}

.nav-bar li {
    display: inline-block; 
    padding-left: 25px;  
}

.nav-bar a {
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
    font-size: 25px;
}

/* ----------------------------------------------------------------------------About Section Landing Page */

.main-page {
    padding-bottom: 30px;
}

.main-text, .main-picture {
    display: inline-block;
    text-align: center;
}

.main-text h1 {
    font-size: 50px;
    margin-top: 20px;
}

.main-text p {
    padding: 20px 15% 0px 15%;
    font-family: 'Josefin Slab', serif;
}

.main-picture > img {
    width: 80%;
    height: 80%;
    margin: 50px auto;
    border-radius: 10px;
}

/* ----------------------------------------------------------------------------Who We Are Section Landing Page */

.who-we-are {
    padding: 50px;
}

.trainer-cont h2,
.trainer-cont p {
    text-align: center;
}

.trainer-pic {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------Prices Section Landing Page */

.prices-div > h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.prices-div h2 {
    text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
    border-bottom: 0px;
}

/* ----------------------------------------------------------------------------Footer */

footer {
    min-height: 15vh;  
    text-align: center; 
}

footer i {
    font-size: 50px; 
    padding: 0px 20px;
    color: white;
}

footer a {
    text-decoration: none;
}

.social-links-footer {
    margin: auto;
}

.address-footer,
.opening-hours-footer {
    color: white;
    line-height: 1rem;
    margin-top: 15px;
}



/* ----------------------------------------------------------------------------Map */

.map-col {
    min-height: 500px;
}

.gym-map {
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}

.contact-info {
    position: relative;
    width: 600px;
    margin: 0 auto;
}

.address {
    display: inline-block;
    width: 50%;
    padding: 0;
}

.opening-hours {
    position: absolute;
    display: inline-block;
    width: 50%;
    padding: 0;
    margin-left: 0;
    margin-top: 0;
}

/* ----------------------------------------------------------------------------Contact Form */


form > input, form > select, form > button, form > textarea {
    display: block;
    margin: 0 auto;
    line-height: 13px;
    
}

/* @media (min-width: 576px) { 

} */