@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');



/* --------------------------------------------------------Colour */

.bgc-nav {
    background-color: #879d7d;
}

.bgc-footer {
    background-color: #879d7d;
}

.bgc-sec1 {
    background-color: #d0e4c7;
}

.bgc-sec2 {
    background-color: #a8c59b;
}


/* --------------------------------------------------------Logo */

.logo-img {
    height: 250px;
    width: 250px;
}

/* ----------------------------------------------------------------------------Navigation Bar */

.navbar-collapse a {
    color: white;
    text-transform: uppercase; 
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
}


.custom-toggler {
    color: white;
    font-size: 35px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* ----------------------------------------------------------------------------About Section Landing Page */

.main-page {
    padding: 20px;
}

.main-text {
    text-align: center;
}

.main-text p {
    padding: 20px 15% 0px 15%;
    font-family: 'Josefin Slab', serif;
}

.w-100 {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.main-picture {
    display: inline-flex;
}

.carousel-cont {
    margin: auto auto;
}


/* ----------------------------------------------------------------------------Who We Are Section Landing Page */

.who-we-are {
    padding: 50px;
}

.trainer-cont h2,
.trainer-cont p {
    text-align: center;
}

.trainer-pic {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------Prices Section Landing Page */

.prices-div > h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.prices-div h2 {
    text-align: center;
    margin: 0;
}

.prices-div table {
    height: 75%;
    width: 80%;
    margin: 15px auto;
    padding: 0;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 0px;
    border-bottom: 0px;
}

/* ----------------------------------------------------------------------------Competition Page */

.about-comp {
    text-align: center;
}

.comp-dates {
    text-align: center;
}

.comp-dates h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.prev-comp-btn {
    padding-bottom: 20px;
}

.prev-comp-btn > .btn {
    background-color: #a8c59b;
    border: 1px outset #879d7d;
    margin: 5px 20px;


}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(135,157,125,.25);
}

.comp-winners {
    text-align: center;
}

.comp-winners h2 {
    padding-top: 20px; 
    padding-bottom: 20px;
}



/* ----------------------------------------------------------------------------Footer */

footer {
    min-height: 15vh;  
    text-align: center; 
}

footer i {
    font-size: 50px; 
    padding: 0px 15px;
    color: white;
}

footer a {
    text-decoration: none;
}

.social-links-footer {
    margin: auto;
    padding: 0;
}

.address-footer,
.opening-hours-footer {
    color: white;
    line-height: 1rem;
    margin-top: 15px;
}



/* ----------------------------------------------------------------------------Map */

.map-col {
    min-height: 500px;
}

.gym-map {
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}


/* ----------------------------------------------------------------------------Contact Form */

.contact {
    text-align: center;
}

.contact h2 {
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact-form > input, 
.contact-form > button, 
.contact-form > textarea {
    display: block;
    margin: 0 auto;
}

.contact-form {
    width: 50%;
    margin: 0 auto;
}

.opening-hours {
    text-align: center;
}
